altgraph==0.17.4
beautifulsoup4==4.12.2
blinker==1.6.2
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.5
contourpy==1.2.0
cycler==0.12.1
decorator==4.4.2
Flask==2.3.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
fonttools==4.47.2
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
macholib==1.16.3
MarkupSafe==2.1.3
matplotlib==3.8.2
moviepy==1.0.3
numpy==1.25.1
packaging==23.2
Pillow==10.0.0
proglog==0.1.10
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pyparsing==3.1.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.30.0
six==1.16.0
soupsieve==2.4.1
SQLAlchemy==2.0.29
tqdm==4.65.0
typing_extensions==4.10.0
urllib3==2.0.2
Werkzeug==2.3.6
WTForms==3.1.1
