{% extends "odinfo-base.html" %}
{% block title %}Dominion {{ dominion.name }} ({{ dominion.code }}){% endblock %}

{% block content %}
  <div class="w3-container">
    <a href="{{ url_for('dominfo', domcode=dominion.code, update='update' ) }}">Update</a> |
      <a href="{{ op_center_url }}/{{ dominion.code }}" target="_blank">OP Center</a>
    <table class="w3-table w3-striped-dark w3-bordered w3-border w3-hoverable">
        <tr class="w3-black">
            <th>Ops Age</th>
            <th>Land</th>
            <th>Race</th>
            <th>Networth</th>
            <th>Population</th>
        </tr>
        <tr>
            <td  {% if 1 < ops_age <= 12 %}class="stale"{% elif ops_age > 12 %}class="invalid"{% endif %}>
                {{ ops_age }}
            </td>
            <td>
                {{ dominion.current_land }}
            </td>
            <td>
                {{ dominion.race }}
            </td>
            <td>
                {{ dominion.current_networth }}
            </td>
            <td>
                {{ dominion.last_cs.peasants }}
            </td>
        </tr>
        <tr class="w3-black">
            <th>Science Rating</th>
            <th>Keep Rating</th>
            <th>Spires Rating</th>
            <th>Forges Rating</th>
        </tr>
        <tr>
            {% if dominion.last_castle is not none %}
                <td>{{dominion.last_castle.science_rating | round(3) }}</td>
                <td>{{dominion.last_castle.keep_rating | round(3) }}</td>
                <td>{{dominion.last_castle.spires_rating | round(3) }}</td>
                <td>{{dominion.last_castle.forges_rating | round(3) }}</td>
            {% else %}
                <td>Unknown</td>
                <td>Unknown</td>
                <td>Unknown</td>
                <td>Unknown</td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="1">
                <table class="w3-white">
                    <tr><td class="w3-black" colspan="2">Offense</td></tr>
                    <tr><td>OP (raw)</td><td>{{ military.op|round }} ({{ military.raw_op|round }})</td></tr>
                    <tr><td>5/4 OP</td><td>{{ military.five_over_four[0]|round }}</td></tr>
                    <tr><td>Temples</td>
                        <td>
                            {% if dominion.buildings is not none %}
                                {{ (dominion.buildings.ratio_of('temple') * 100)|round(1) }}%
                            {% else %}
                                Unknown
                            {% endif %}
                        </td>
                    </tr>
                    <tr><td class="w3-black" colspan="2">Offense Bonuses</td></tr>
                    <tr><td>Prestige</td><td>{{(military.prestige_bonus*100)|round(2)}}%</td></tr>
                    <tr><td>Racial</td><td>{{(military.racial_offense_bonus*100)|round(2)}}%</td></tr>
                    <tr><td>Buildings (GN)</td><td>{{(military.gryphon_nest_bonus*100)|round(2)}}%</td></tr>
                    <tr><td>Improvements (Forges)</td><td>{{(military.forges_bonus*100)|round(2)}}%</td></tr>
                    <tr><td>Tech</td><td>{{(military.tech_offense_bonus*100)|round(2)}}%</td></tr>
                    <tr><td>Spell</td><td>{{(military.spell_offense_bonus*100)|round(2)}}%</td></tr>
                    <tr><td><em>Total</em></td><td><em>{{(military.offense_bonus*100)|round(2)}}%</em></td></tr>
                </table>
            </td>
            <td colspan="1">
                <table class="w3-white">
                    <tr><td class="w3-black" colspan="2">Defense</td></tr>
                    <tr><td>DP (raw)</td><td>{{ military.dp|round }} ({{ military.raw_dp|round }})</td></tr>
                    <tr><td>5/4 DP</td><td>{{ military.five_over_four[1]|round }}</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td class="w3-black" colspan="2">Defense Bonuses</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td>Racial</td><td>{{(military.racial_defense_bonus*100)|round(2)}}%</td></tr>
                    <tr><td>Buildings (GT)</td><td>{{(military.guard_tower_bonus*100)|round(2)}}%</td></tr>
                    <tr><td>Improvements (Walls)</td><td>{{(military.walls_bonus*100)|round(2)}}%</td></tr>
                    <tr><td>Tech</td><td>{{(military.tech_defense_bonus*100)|round(2)}}%</td></tr>
                    <tr><td>Spell (+Ares)</td><td>{{(military.spell_defense_bonus*100)|round(2)}}%</td></tr>
                    <tr><td><em>Total</em></td><td><em>{{(military.defense_bonus*100)|round(2)}}%</em></td></tr>
                </table>
            </td>
            <td colspan="1">
                <table class="w3-white">
                    <tr class="w3-black">
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Per Unit</th>
                        <th>Raw OP</th>
                        <th>Raw DP</th>
                    </tr>
                    {% for i in range(1, 5) %}
                        <tr>
                            <td>{{ military.unit_type(i).name }}</td>
                            <td>
                                {{ military.amount(i) }}
                            </td>
                            <td>
                                {{ military.unit_type(i).offense|round(1) }}{% if military.unit_missing_intel(i)['offense'] %} !{% endif %}/{{ military.unit_type(i).defense|round(1) }}{% if military.unit_missing_intel(i)['defense'] %} !{% endif %}
                            </td>
                            <td>
                                {{ military.op_of(i)|round }}{% if military.unit_missing_intel(i)['offense'] %} !{% endif %}
                            </td>
                            <td>
                                {{ military.dp_of(i)|round }}{% if military.unit_missing_intel(i)['defense'] %} !{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Draftees</td>
                        <td>{{military.draftees}}</td>
                        <td>0/1</td>
                        <td>0</td>
                        <td>{{military.draftees}}</td>
                    </tr>
                    <tr>
                        <td><em>Total</em></td>
                        <td>{{military.total_units}}</td>
                        <td>&nbsp;</td>
                        <td>{{military.raw_op|round}}</td>
                        <td>{{military.raw_dp|round}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="1">
                <table class="w3-white">
                    <tr class="w3-black">
                        <th>&nbsp</th>
                        <th>Military Units</th>
                        <th>Ratios Estimate</th>
                        <th>Networth</th>
                        <th>Units</th>
                    </tr>
                    <tr>
                        <td>Spies</td>
                        <td>{{ ratios.spy_units_equiv }}</td>
                        <td>
                            {{ ratios.spy_ratio_estimate }} - {{ ratios.max_spy_ratio_estimate }}
                        </td>
                        <td>{{ ratios.spywiz_networth }}</td>
                        <td>{{ ratios.spywiz_units }}</td>
                    </tr>
                    <tr>
                        <td>Wizards</td>
                        <td>{{ ratios.wiz_units_equiv }}</td>
                        <td>
                            {{ ratios.wiz_ratio_estimate }} - {{ ratios.max_wiz_ratio_estimate }}
                        </td>
                        <td>{{ ratios.spywiz_networth }}</td>
                        <td>{{ ratios.spywiz_units }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table><br>
    
    <!-- 5/4 Attack Breakdown -->
    <table class="w3-table w3-striped-dark w3-bordered w3-border w3-hoverable">
        <tr class="w3-black">
            <th colspan="4">5/4 Attack Breakdown</th>
        </tr>
        <tr class="w3-dark-grey">
            <th>Units Sent</th>
            <th>Amount</th>
            <th>OP Contribution</th>
            <th>DP Lost</th>
        </tr>
        {% for unit in military.five_over_four_breakdown()['sent'] %}
            {% if unit['amount_sent'] > 0 %}
            <tr>
                <td>{{ unit['unit_name'] }} ({{ unit['unit_type'] }})</td>
                <td>{{ unit['amount_sent'] }}</td>
                <td>{{ unit['op_contribution']|round }}</td>
                <td>{{ unit['dp_lost']|round }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        <tr class="w3-dark-grey">
            <th>Units Staying Home</th>
            <th>Amount</th>
            <th>Type</th>
            <th>DP Contribution</th>
        </tr>
        {% for unit in military.five_over_four_breakdown()['sent'] %}
            {% if unit['amount_home'] > 0 %}
            <tr>
                <td>{{ unit['unit_name'] }} ({{ unit['unit_type'] }})</td>
                <td>{{ unit['amount_home'] }}</td>
                <td>Hybrid (partial)</td>
                <td>-</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% for unit in military.five_over_four_breakdown()['stayed_home'] %}
            <tr>
                <td>{{ unit['unit_name'] }} ({{ unit['unit_type'] }})</td>
                <td>{{ unit['amount_home'] }}</td>
                <td>{% if unit['unit_name'] == 'Draftees' %}Draftees{% else %}Pure Defense{% endif %}</td>
                <td>{{ unit['dp_contribution']|round }}</td>
            </tr>
        {% endfor %}
        <tr class="w3-light-grey">
            <td><strong>Totals</strong></td>
            <td>-</td>
            <td><strong>{{ military.five_over_four_breakdown()['summary']['sendable_op']|round }} OP</strong></td>
            <td><strong>{{ military.five_over_four_breakdown()['summary']['remaining_dp']|round }} DP</strong></td>
        </tr>
        <tr class="w3-pale-yellow">
            <td colspan="2"><strong>5/4 Constraint Check</strong></td>
            <td colspan="2">
                <strong>{{ military.five_over_four_breakdown()['summary']['sendable_op']|round }} ≤ {{ (military.five_over_four_breakdown()['summary']['remaining_dp'] * 5/4)|round }} 
                {% if military.five_over_four_breakdown()['summary']['sendable_op'] <= (military.five_over_four_breakdown()['summary']['remaining_dp'] * 5/4)|round %}
                ✓ Valid
                {% else %}
                ✗ Violated
                {% endif %}
                </strong>
            </td>
        </tr>
    </table><br>
  </div>
  <div class="w3-container">
      {{ nw_history_graph|safe }} {{ land_history_graph|safe }}
  </div>
  <div class="w3-container">

  </div>

{% endblock %}