{% extends "odinfo-base.html" %}
{% block title %}Dominion {{ dominion.name }} ({{ dominion.code }}){% endblock %}

{% block content %}
  <div class="w3-container">
    <a href="{{ url_for('dominfo', domcode=dominion.code, update='update' ) }}">Update</a> |
      <a href="{{ op_center_url }}/{{ dominion.code }}" target="_blank">OP Center</a>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr class="w3-black">
            <th>Ops Age</th>
            <th>Land</th>
            <th>Race</th>
            <th>Networth</th>
            <th>Population</th>
        </tr>
        <tr>
            <td  {% if 1 < ops_age <= 12 %}class="stale"{% elif ops_age > 12 %}class="invalid"{% endif %}>
                {{ ops_age }}
            </td>
            <td>
                {{ dominion.current_land }}
            </td>
            <td>
                {{ dominion.race }}
            </td>
            <td>
                {{ dominion.current_networth }}
            </td>
            <td>
                {{ dominion.last_cs.peasants }}
            </td>
        </tr>
        <tr class="w3-black">
            <th>Science Rating</th>
            <th>Keep Rating</th>
            <th>Spires Rating</th>
            <th>Forges Rating</th>
        </tr>
        <tr>
            {% if dominion.last_castle is not none %}
                <td>{{dominion.last_castle.science_rating | round(3) }}</td>
                <td>{{dominion.last_castle.keep_rating | round(3) }}</td>
                <td>{{dominion.last_castle.spires_rating | round(3) }}</td>
                <td>{{dominion.last_castle.forges_rating | round(3) }}</td>
            {% else %}
                <td>Unknown</td>
                <td>Unknown</td>
                <td>Unknown</td>
                <td>Unknown</td>
            {% endif %}
        </tr>
        <tr class="w3-black">
            <th>OP Bonus %</th>
            <th>OP</th>
            <th>Temples</th>
            <th>DP Bonus %</th>
            <th>DP</th>
        </tr>
        <tr>
            <td>{{ (military.offense_bonus * 100) | round(3) }}%</td>
            <td>{{ military.op }} ({{ military.raw_op }})</td>
            {% if dominion.buildings is not none %}
                <td>{{ (dominion.buildings.ratio_of('temple') * 100)|round(1) }}%</td>
            {% else %}
                <td>Unknown</td>
            {% endif %}
            <td>{{ (military.defense_bonus * 100)|round(1) }}%</td>
            <td>{{ military.dp }} ({{ military.raw_dp }})</td>
        </tr>
        <tr>
            <td colspan="3">
                <table class="w3-white">
                    <tr class="w3-black">
                        <th>&nbsp</th>
                        <th>Military Units</th>
                        <th>Ratios Estimate</th>
                        <th>Networth</th>
                        <th>Units</th>
                    </tr>
                    <tr>
                        <td>Spies</td>
                        <td>{{ ratios.spy_units_equiv }}</td>
                        <td>
                            {{ ratios.spy_ratio_estimate }} - {{ ratios.max_spy_ratio_estimate }}
                        </td>
                        <td>{{ ratios.spywiz_networth }}</td>
                        <td>{{ ratios.spywiz_units }}</td>
                    </tr>
                    <tr>
                        <td>Wizards</td>
                        <td>{{ ratios.wiz_units_equiv }}</td>
                        <td>
                            {{ ratios.wiz_ratio_estimate }} - {{ ratios.max_wiz_ratio_estimate }}
                        </td>
                        <td>{{ ratios.spywiz_networth }}</td>
                        <td>{{ ratios.spywiz_units }}</td>
                    </tr>
                </table>
            </td>
            <td colspan="2">
                <table class="w3-white">
                    <tr class="w3-black">
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Per Unit</th>
                        <th>OP</th>
                        <th>DP</th>
                    </tr>
                    {% for i in range(1, 5) %}
                        <tr>
                            <td>{{ military.unit_type(i).name }}</td>
                            <td>
                                {{ military.amount(i) }}
                            </td>
                            <td>
                                {{ military.unit_type(i).offense }}/{{ military.unit_type(i).defense }}
                            </td>
                            <td>
                                {{ military.op_of(i) }}
                            </td>
                            <td>
                                {{ military.dp_of(i) }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table><br>
  </div>
  <div class="w3-container">
      {{ nw_history_graph|safe }} {{ land_history_graph|safe }}
  </div>
  <div class="w3-container">

  </div>

{% endblock %}