{% extends "odinfo-base.html" %}
{% block title %}Dominion {{ dom_vm.name }} ({{ dom_vm.code }}){% endblock %}

{% block content %}
  <div class="w3-container">
    <h3>{{ dom_vm.name }} (#{{ dom_vm.realm }})</h3>
    <a href="{{ url_for('dominfo', domcode=dom_vm.code, update='update' ) }}">Update</a> |
      <a href="{{ op_center_url }}/{{ dom_vm.code }}" target="_blank">OP Center</a>
    <div style="max-width: 80%;">
    <table class="w3-table w3-striped-dark w3-bordered w3-border w3-hoverable" style="width: 100%;">
        <tr class="w3-black">
            <th>Ops Age</th>
            <th>Land</th>
            <th>Race</th>
            <th>Networth</th>
            <th>Population</th>
        </tr>
        <tr>
            <td  {% if 1 < dom_vm.ops_age <= 12 %}class="stale"{% elif dom_vm.ops_age > 12 %}class="invalid"{% endif %}>
                {{ dom_vm.ops_age }}
            </td>
            <td>
                {{ dom_vm.land }}
            </td>
            <td>
                {{ dom_vm.race }}
            </td>
            <td>
                {{ dom_vm.networth }}
            </td>
            <td>
                {{ dom_vm.population }}
            </td>
        </tr>
        <tr class="w3-black">
            <th>Science Rating</th>
            <th>Keep Rating</th>
            <th>Spires Rating</th>
            <th>Forges Rating</th>
            <th></th>
        </tr>
        <tr>
            {% if dom_vm.science_rating is not none %}
                <td>{{ dom_vm.science_rating }}</td>
                <td>{{ dom_vm.keep_rating }}</td>
                <td>{{ dom_vm.spires_rating }}</td>
                <td>{{ dom_vm.forges_rating }}</td>
                <td></td>
            {% else %}
                <td>Unknown</td>
                <td>Unknown</td>
                <td>Unknown</td>
                <td>Unknown</td>
                <td></td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2">
                <table class="w3-white">
                    <tr><td class="w3-black" colspan="2">Offense</td></tr>
                    <tr><td>OP (raw)</td><td>{{ dom_vm.military.paid_op }} ({{ dom_vm.military.raw_op }})</td></tr>
                    <tr><td>Current OP</td><td>{{ dom_vm.military.current_op if dom_vm.military.current_op is not none else '-' }} {% if dom_vm.military.confidence %}({{ dom_vm.military.confidence }}){% endif %}</td></tr>
                    <tr><td>5/4 OP</td><td>{{ dom_vm.military.five_over_four_op }}</td></tr>
                    <tr><td>Temples</td>
                        <td>
                            {% if dom_vm.temple_ratio is not none %}
                                {{ dom_vm.temple_ratio }}%
                            {% else %}
                                Unknown
                            {% endif %}
                        </td>
                    </tr>
                    <tr><td class="w3-black" colspan="2">Offense Bonuses</td></tr>
                    <tr><td>Prestige</td><td>{{ dom_vm.military.offense_bonuses.prestige }}%</td></tr>
                    <tr><td>Racial</td><td>{{ dom_vm.military.offense_bonuses.racial }}%</td></tr>
                    <tr><td>Buildings (GN)</td><td>{{ dom_vm.military.offense_bonuses.buildings }}%</td></tr>
                    <tr><td>Improvements (Forges)</td><td>{{ dom_vm.military.offense_bonuses.improvements }}%</td></tr>
                    <tr><td>Tech</td><td>{{ dom_vm.military.offense_bonuses.tech }}%</td></tr>
                    <tr><td>Spell</td><td>{{ dom_vm.military.offense_bonuses.spell }}%</td></tr>
                    <tr><td><em>Total</em></td><td><em>{{ dom_vm.military.offense_bonuses.total }}%</em></td></tr>
                </table>
            </td>
            <td colspan="1">
                <table class="w3-white">
                    <tr><td class="w3-black" colspan="2">Defense</td></tr>
                    <tr><td>DP (raw)</td><td>{{ dom_vm.military.paid_dp }} ({{ dom_vm.military.raw_dp }})</td></tr>
                    <tr><td>Current DP</td><td>{{ dom_vm.military.current_dp if dom_vm.military.current_dp is not none else '-' }} {% if dom_vm.military.confidence %}({{ dom_vm.military.confidence }}){% endif %}</td></tr>
                    <tr><td>5/4 DP</td><td>{{ dom_vm.military.five_over_four_dp }}</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td class="w3-black" colspan="2">Defense Bonuses</td></tr>
                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                    <tr><td>Racial</td><td>{{ dom_vm.military.defense_bonuses.racial }}%</td></tr>
                    <tr><td>Buildings (GT)</td><td>{{ dom_vm.military.defense_bonuses.buildings }}%</td></tr>
                    <tr><td>Improvements (Walls)</td><td>{{ dom_vm.military.defense_bonuses.improvements }}%</td></tr>
                    <tr><td>Tech</td><td>{{ dom_vm.military.defense_bonuses.tech }}%</td></tr>
                    <tr><td>Spell (+Ares)</td><td>{{ dom_vm.military.defense_bonuses.spell }}%</td></tr>
                    <tr><td><em>Total</em></td><td><em>{{ dom_vm.military.defense_bonuses.total }}%</em></td></tr>
                </table>
            </td>
            <td colspan="2">
                <table class="w3-white">
                    <tr class="w3-black">
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Per Unit</th>
                        <th>Raw OP</th>
                        <th>Raw DP</th>
                    </tr>
                    {% for unit in dom_vm.military.units %}
                        <tr>
                            <td>{{ unit.name }}</td>
                            <td>{{ unit.amount }}</td>
                            <td>
                                {{ unit.offense_per_unit }}{% if unit.offense_missing_intel %} !{% endif %}/{{ unit.defense_per_unit }}{% if unit.defense_missing_intel %} !{% endif %}
                            </td>
                            <td>
                                {{ unit.raw_op }}{% if unit.offense_missing_intel %} !{% endif %}
                            </td>
                            <td>
                                {{ unit.raw_dp }}{% if unit.defense_missing_intel %} !{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>Draftees</td>
                        <td>{{ dom_vm.military.draftees }}</td>
                        <td>0/1</td>
                        <td>0</td>
                        <td>{{ dom_vm.military.draftees }}</td>
                    </tr>
                    <tr>
                        <td><em>Total</em></td>
                        <td>{{ dom_vm.military.total_units }}</td>
                        <td>&nbsp;</td>
                        <td>{{ dom_vm.military.raw_op }}</td>
                        <td>{{ dom_vm.military.raw_dp }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <table class="w3-white">
                    <tr class="w3-black">
                        <th>SPA</th>
                        <th>WPA</th>
                        <th>Networth</th>
                    </tr>
                    <tr>
                        <td>{{ "%.3f"|format(dom_vm.ratios.spa) if dom_vm.ratios.spa else '-' }}</td>
                        <td>{{ "%.3f"|format(dom_vm.ratios.wpa) if dom_vm.ratios.wpa else '-' }}</td>
                        <td>{{ dom_vm.networth }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table><br>

    <!-- Strength Forecast -->
    {% if dom_vm.military.strength_forecast %}
    <table class="w3-table w3-striped-dark w3-bordered w3-border w3-hoverable" style="table-layout: fixed; width: 100%;">
        <tr class="w3-black">
            <th style="width: 50px;">Tick</th>
            {% for tick, op, dp in dom_vm.military.strength_forecast %}
            <th>{{ tick }}</th>
            {% endfor %}
        </tr>
        <tr>
            <td><strong>OP</strong></td>
            {% for tick, op, dp in dom_vm.military.strength_forecast %}
            <td>{{ op }}</td>
            {% endfor %}
        </tr>
        <tr>
            <td><strong>DP</strong></td>
            {% for tick, op, dp in dom_vm.military.strength_forecast %}
            <td>{{ dp }}</td>
            {% endfor %}
        </tr>
    </table><br>
    {% endif %}
    </div>

    <!-- 5/4 Attack Breakdown -->
    <table class="w3-table w3-striped-dark w3-bordered w3-border w3-hoverable">
        <tr class="w3-black">
            <th colspan="4">5/4 Attack Breakdown</th>
        </tr>
        <tr class="w3-dark-grey">
            <th>Units Sent</th>
            <th>Amount</th>
            <th>OP Contribution</th>
            <th>DP Lost</th>
        </tr>
        {% for unit in dom_vm.military.five_over_four_breakdown.sent_units %}
            {% if unit.amount_sent > 0 %}
            <tr>
                <td>{{ unit.unit_name }} ({{ unit.unit_type }})</td>
                <td>{{ unit.amount_sent }}</td>
                <td>{{ unit.op_contribution }}</td>
                <td>{{ unit.dp_lost }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        <tr class="w3-dark-grey">
            <th>Units Staying Home</th>
            <th>Amount</th>
            <th>Type</th>
            <th>DP Contribution</th>
        </tr>
        {% for unit in dom_vm.military.five_over_four_breakdown.sent_units %}
            {% if unit.amount_home > 0 %}
            <tr>
                <td>{{ unit.unit_name }} ({{ unit.unit_type }})</td>
                <td>{{ unit.amount_home }}</td>
                <td>Hybrid (partial)</td>
                <td>-</td>
            </tr>
            {% endif %}
        {% endfor %}
        {% for unit in dom_vm.military.five_over_four_breakdown.stayed_home_units %}
            <tr>
                <td>{{ unit.unit_name }} ({{ unit.unit_type }})</td>
                <td>{{ unit.amount_home }}</td>
                <td>{% if unit.unit_name == 'Draftees' %}Draftees{% else %}Pure Defense{% endif %}</td>
                <td>{{ unit.dp_contribution }}</td>
            </tr>
        {% endfor %}
        <tr class="w3-light-grey">
            <td><strong>Totals</strong></td>
            <td>-</td>
            <td><strong>{{ dom_vm.military.five_over_four_breakdown.sendable_op }} OP</strong></td>
            <td><strong>{{ dom_vm.military.five_over_four_breakdown.remaining_dp }} DP</strong></td>
        </tr>
        <tr class="w3-pale-yellow">
            <td colspan="2"><strong>5/4 Constraint Check</strong></td>
            <td colspan="2">
                <strong>{{ dom_vm.military.five_over_four_breakdown.sendable_op }} ≤ {{ (dom_vm.military.five_over_four_breakdown.remaining_dp * 5/4)|round }}
                {% if dom_vm.military.five_over_four_breakdown.is_valid %}
                ✓ Valid
                {% else %}
                ✗ Violated
                {% endif %}
                </strong>
            </td>
        </tr>
    </table><br>
  </div>
  <div class="w3-container">
      {{ nw_history_graph|safe }} {{ land_history_graph|safe }}
  </div>
  <div class="w3-container">

  </div>

{% endblock %}