{% extends "odinfo-base.html" %}
{% block title %}Dominion {{ econ_vm.domname }}{% endblock %}

{% block content %}
  <div class="w3-container">
      <a href="{{ op_center_url }}/{{ econ_vm.domcode }}" target="_blank">OP Center</a>
    <table class="w3-table w3-striped-dark w3-bordered w3-border w3-hoverable">
        <tr class="w3-dark-grey">
            <th>Jobs</th>
            <th>Income</th>
            <th>Per Building</th>
            <th>Boop</th>
        </tr>
        <tr>
            <td>
                Employed: {{ econ_vm.employed_peasants }}<br/>
                Free: {{ econ_vm.free_jobs }}
            </td>
            <td>
                Peasants: {{ econ_vm.peasant_income }}<br/>
                Alchemies: {{ econ_vm.alchemy_income }}<br/>
                Bonus %: {{ econ_vm.plat_total_bonus }}<br/>
                Total: {{ econ_vm.platinum_production }}
            </td>
            <td>
                Home: {{ econ_vm.plat_per_home }}<br/>
                Alchemy: {{ 45 }}<br/>
            </td>
            <td>

            </td>
        </tr>
    </table><br>
  </div>
{% endblock %}