{% extends "odinfo-base.html" %}
{% block title %}Dominion {{ domname }}{% endblock %}

{% block content %}
  <div class="w3-container">
      <a href="{{ op_center_url }}/{{ domcode }}" target="_blank">OP Center</a>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr class="w3-dark-grey">
            <th>Jobs</th>
            <th>Income</th>
            <th>Per Building</th>
            <th>Boop</th>
        </tr>
        <tr>
            <td>
                Employed: {{ economy.employed_peasants }}<br/>
                Free: {{ economy.free_jobs }}
            </td>
            <td>
                Peasants: {{ economy.peasant_income }}<br/>
                Alchemies: {{ economy.alchemy_income }}<br/>
                Bonus %: {{ (economy.plat_total_bonus * 100) |round(3) }}<br/>
                Total: {{ economy.platinum_production }}
            </td>
            <td>
                Home: {{ economy.plat_per_home|round(2) }}<br/>
                Alchemy: {{ 45 }}<br/>
                Guard Tower: {{ economy.guard_towers|round(2) }} DP
            </td>
            <td>

            </td>
        </tr>
    </table><br>
  </div>
{% endblock %}