{% extends "odinfo-base.html" %}
{% block extrascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}
  <div class="w3-container">
    <h5>Military {% if versus_op != 0 %}(VERSUS {{ versus_op }} OP){% endif %}</h5>
    {% if top_op %}
        <p><b>Top OP is {{ top_op.name }} (#{{ top_op.realm }}) with {{ top_op.five_over_four_op }} OP and
            {{ (top_op.temples * 100)|round(1) }}% Temples, in {{ top_op.paid_until }} ticks.
        </b></p>
    {% endif %}
    <table id="military_table" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <thead>
            <tr class="w3-black">
                <th>Dominion</th>
                <th>Realm</th>
                <th>Race</th>
                <th>Ops Age</th>
                <th>Land</th>
                <th>75%</th>
                <th>5/4 OP</th>
                <th>+Tmps</th>
                <th>5/4 DP</th>
                <th>Temples</th>
                <th>Boats (#/prt)</th>
                <th>Sendable (#/cap)</th>
                <th>Paid</th>
                <th>OP</th>
                <th>DP</th>
                <th>NW</th>
            </tr>
        </thead>
        {% for dom in doms %}
        <tr>
            <td>
                <a href="{{ url_for('dominfo', domcode=dom.code) }}">{{ dom.name }}</a>
            </td>
            <td>{{ dom.realm }}</td>
            <td>
                <a href="{{ url_for('military', versus_op=dom.five_over_four_op) }}">
                    {{ dom.race }}
                </a>
            </td>
            <td  {% if 1 < dom.ops_age <= 12 %}class="stale"{% elif dom.ops_age > 12 %}class="invalid"{% endif %}>
                {{ dom.ops_age }}
            </td>
            <td>{{ dom.land }}</td>
            <td>{{ dom.hittable_75_percent }}</td>
            <td>{{ dom.five_over_four_op }}</td>
            <td>{{ dom.five_four_op_with_temples }}</td>
            <td>{{ dom.five_over_four_dp }}</td>
            <td>{{ (dom.temples * 100)|round(1) }}%</td>
            <td>{{ dom.boats_amount }}/{{ dom.boats_prt }}</td>
            <td>{{ dom.boats_sendable }}/{{ dom.boats_capacity }}</td>
            <td>{{ dom.paid_until }}</td>
            <td title="Raw {{ dom.raw_op }}">{{ dom.op }}</td>
            <td title="Raw {{ dom.raw_op }}">{{ dom.dp }}</td>
            <td>{{ dom.networth }}</td>
        </tr>
        {% endfor %}
    </table><br>
  </div>

<script>
    $(document).ready( function () {
        $('#military_table').DataTable({
            'paging': false,
            'order': [[7, 'desc']],
            'columnDefs': [
                { "type": "num", "targets": [1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]}
            ]
        });
    } );
</script>
{% endblock %}