{% set use_datatables = true %}
{% extends "odinfo-base.html" %}

{% block content %}
  <div class="w3-container">
    <div class="od-table-container">
    <table id="mainContentTable" class="w3-table w3-striped-dark w3-bordered w3-border w3-hoverable">
        <thead>
            <tr class="w3-black">
                <th>Dominion</th>
                <th>Ops Age</th>
                <th>Realm</th>
                <th>Land</th>
                <th>Race</th>
                <th>WPA</th>
                <th>SPA</th>
            </tr>
        </thead>
        {% for dom in doms %}
        <tr>
            <td>
                <a href="{{ url_for('dominfo', domcode=dom.code) }}">{{ dom.name }}</a>
            </td>
            <td {% if 1 < dom.ops_age <= 12 %}class="stale"{% elif dom.ops_age > 12 %}class="invalid"{% endif %}>
                {{ dom.ops_age }}
            </td>
            <td>{{ dom.realm }}</td>
            <td>{{ dom.land }}</td>
            <td>{{ dom.race }}</td>
            <td>
                {% if dom.wpa is not none %}
                    {{ "%.3f"|format(dom.wpa) }}
                {% else %}
                    ?
                {% endif %}
            </td>
            <td>
                {% if dom.spa is not none %}
                    {{ "%.3f"|format(dom.spa) }}
                {% else %}
                    ?
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    </div><br>
  </div>

<script>
    $(document).ready( function () {
        $('#mainContentTable').DataTable({
            'paging': false,
            'order': [[6, 'desc']], // Sort by SPA column by default
            'columnDefs': [
                { "type": "num", "targets": [1, 3, 5, 6] } // Numeric columns
            ]
        });
    } );
</script>
{% endblock %}