{% set use_datatables = true %}
{% extends "odinfo-base.html" %}

{% block content %}
  <div class="w3-container">
    <div class="table-container">
    <table id="realmies_table" class="w3-table w3-striped-dark w3-bordered w3-border w3-hoverable">
        <thead>
            <tr class="w3-black">
                <th>Dominion</th>
                <th>Player</th>
                <th>Land</th>
                <th>75%</th>
                <th>Max Sendable</th>
                <th>DP</th>
                <th>WPA</th>
                <th>SPA</th>
                <th>Docks</th>
                <th>Protected Boats</th>
                <th>Ares</th>
            </tr>
        </thead>
        {% for realmie in realmies %}
        <tr>
            <td>
                <a href="{{ url_for('dominfo', domcode=realmie.dom.code) }}">{{ realmie.dom.name }}</a>
            </td>
            <td>{{ realmie.dom.player }}</td>
            <td>{{ realmie.land }}</td>
            <td>{{ realmie.hittable_75_percent }}</td>
            <td>{{ realmie.max_sendable_op }}</td>
            <td>{{ realmie.dp }}</td>
            <td>
                {% if realmie.wpa is not none %}
                    {{ "%.3f"|format(realmie.wpa) }}
                {% else %}
                    ?
                {% endif %}
            </td>
            <td>
                {% if realmie.spa is not none %}
                    {{ "%.3f"|format(realmie.spa) }}
                {% elif realmie.spa_range %}
                    {{ realmie.spa_range }}
                {% else %}
                    ?
                {% endif %}
            </td>
            <td>{{ realmie.dom.navy.docks if realmie.dom.navy else '?' }}</td>
            <td>{{ "%.1f"|format(realmie.boats_protected) }}/{{ "%.1f"|format(realmie.boats_total) }}</td>
            <td>{{ realmie.dom.magic.ares }}</td>
        </tr>
        {% endfor %}
    </table>
    </div><br>
  </div>

<script>
    $(document).ready( function () {
        $('#realmies_table').DataTable({
            'paging': false,
            'order': [[10, 'asc']],
            'columnDefs': [
                { "type": "num", "targets": [2, 3, 4, 5, 6, 7, 8, 10]}
            ],
            fixedHeader: {
                header: true,
                headerOffset: 43
            }
        });
    } );
</script>
{% endblock %}