{% set use_datatables = true %}
{% extends "odinfo-base.html" %}

{% block content %}
  <div class="w3-container">
    <div class="table-container">
    <table id="stealables_table" class="w3-table w3-striped-dark w3-bordered w3-border w3-hoverable">
        <thead>
            <tr class="w3-black">
                <th>Dominion</th>
                <th>Land</th>
                <th>Age</th>
                <th>Platinum</th>
                <th>Food</th>
                <th>Mana</th>
                <th>Gems</th>
                <th>Lumber</th>
            </tr>
        </thead>
        {% for row in stealables %}
        <tr>
            <td>
                <a href="{{ url_for('dominfo', domcode=row.dominion) }}">{{ row.name }}</a>
            </td>
            <td>{{ row.land }}</td>
            <td  {% if 1 < ages[row.dominion] <= 12 %}class="stale"{% elif ages[row.dominion] > 12 %}class="invalid"{% endif %}>
                {{ ages[row.dominion] }}
            </td>
            <td>{{ row.platinum }}</td>
            <td>{{ row.food }}</td>
            <td>{{ row.mana }}</td>
            <td>{{ row.gems }}</td>
            <td>{{ row.lumber }}</td>
        </tr>
        {% endfor %}
    </table>
    </div><br>
  </div>

<script>
    $(document).ready( function () {
        $('#stealables_table').DataTable({
            'paging': false,
            'order': [[3, 'desc']],
            'columnDefs': [
                { "type": "num", "targets": [1, 2, 3, 4, 5, 6, 7]}
            ],
            fixedHeader: {
                header: true,
                headerOffset: 43
            }
        });
    } );
</script>
{% endblock %}