{% set use_datatables = true %}
{% extends "odinfo-base.html" %}
{% block title %}Town Crier{% endblock %}

{% block content %}
<div class="w3-container">
  <a href="/towncrier?update=true">Update</a>
  <div class="table-container">
  <table id="towncrier_table" class="w3-table w3-striped-dark w3-bordered w3-border w3-hoverable">
      <thead>
          <tr class="w3-black">
              <th>Event</th>
              <th>Origin</th>
              <th>Origin Name</th>
              <th>Target</th>
              <th>Target Name</th>
              <th>Amount</th>
              <th>Text</th>
              <th>Timestamp</th>
          </tr>
      </thead>
      <tbody>
      {% for event in towncrier %}
      <tr>
          <td>{{ event.event_type }}</td>
          <td>{{ event.origin }}</td>
          <td>{{ event.origin_name }}</td>
          <td>{{ event.target }}</td>
          <td>{{ event.target_name }}</td>
          <td>{{ event.amount }}</td>
          <td>{{ event.text }}</td>
          <td>{{ event.timestamp }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
  </div><br>
</div>

<script>
    $(document).ready(function() {
        $('#towncrier_table').DataTable({
            paging: false,
            ordering: false,
            fixedHeader: {
                header: true,
                headerOffset: 43
            }
        });
    });
</script>
{% endblock %}