{% extends "analytics-base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
  <div class="w3-container">
    <form action="{{url_for('analytics')}}" method="post" id="domform">
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr class="w3-dark-grey">
            <th>Name</th>
            <th>Land</th>
            <th>Networth</th>
            <th>Role</th>
            <th>SpyWiz Est.</th>
            <th>Realm</th>
            <th>Race</th>
        </tr>
        {% for dominfo in ctx %}
        <tr>
            <td>
                <a href="/dominfo/{{ dominfo.code }}">{{ dominfo.name }}</a>
            </td>
            <td>
                {{ dominfo.land }}
            </td>
            <td>
                {{ dominfo.networth }}
            </td>
            <td>
                <select name="{{dominfo.code}}.{{dominfo.role}}" onchange="this.form.submit()" form="domform">
                    {% for option in ('unknown', 'attacker', 'explorer', 'blopper') %}
                    <option value="{{option}}" {% if dominfo.role == option %}selected{% endif %}>{{option}}</option>
                    {% endfor %}}
                </select>
            </td>
            <td>
                {{ dominfo.spywiz_estimate }}
            </td>
            <td>
                {{ dominfo.realm }}
            </td>
            <td>
                {{ dominfo.race }}
            </td>
        </tr>
    {% endfor %}
    </table><br>
        </form>
  </div>
{% endblock %}