{% extends "odinfo-base.html" %}
{% block title %}Dominion {{ domname }}{% endblock %}

{% block content %}
  <div class="w3-container">
    <a href="{{ url_for('dominfo', domcode=domcode, update='update' ) }}">Update</a> |
      <a href="{{ op_center_url }}/{{ domcode }}" target="_blank">OP Center</a>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr class="w3-dark-grey">
            <th>Ops Age</th>
            <th>Land</th>
            <th>Networth</th>
            <th>Population</th>
        </tr>
        <tr>
            <td  {% if 1 < dominion.last_op_since <= 12 %}class="stale"{% elif dominion.last_op_since > 12 %}class="invalid"{% endif %}>
                {{ dominion.last_op_since }}
            </td>
            <td>
                {{ dominion.total_land }}
            </td>
            <td>
                {{ dominion.networth }}
            </td>
            <td>
                {{ dominion.cs.peasants }}
            </td>
        </tr>
        <tr class="w3-dark-grey">
            <th>Science Rating</th>
            <th>Keep Rating</th>
            <th>Spires Rating</th>
            <th>Forges Rating</th>
        </tr>
        <tr>
            <td>{{dominion.castle.science}}</td>
            <td>{{dominion.castle.science}}</td>
            <td>{{dominion.castle.science}}</td>
            <td>{{dominion.castle.science}}</td>
        </tr>
        <tr class="w3-dark-grey">
            <th>OP Bonus %</th>
            <th>OP</th>
            <th>Temples</th>
            <th>DP Bonus %</th>
            <th>DP</th>
        </tr>
        <tr>
            <td>{{ (dominion.military.offense_bonus * 100)|round(1) }}%</td>
            <td>{{ dominion.military.op }}</td>
            <td>{{ (dominion.buildings.ratio_of('temple') * 100)|round(1) }}%</td>
            <td>{{ (dominion.military.defense_bonus * 100)|round(1) }}%</td>
            <td>{{ dominion.military.dp }}</td>
        </tr>
        <tr class="w3-dark-grey">
            <th>Military Spy</th>
            <th>Military Wiz</th>
            <th>Spywiz Networth</th>
            <th>Spywiz Units</th>
            <th>Spy Ratios Estimate</th>
            <th>Wiz Ratios Estimate</th>
        </tr>
        <tr>
            <td>
                {{ dominion.military.spy_units_equiv }}
            </td>
            <td>
                {{ dominion.military.wiz_units_equiv }}
            </td>
            <td>
                {{ dominion.military.spywiz_networth }}
            </td>
            <td>
                {{ dominion.military.spywiz_units }}
            </td>
            <td>
                {{ dominion.military.spy_ratio_estimate }} - {{ dominion.military.max_spy_ratio_estimate }}
            </td>
            <td>
                {{ dominion.military.wiz_ratio_estimate }} - {{ dominion.military.max_wiz_ratio_estimate }}
            </td>
        </tr>
    </table><br>
  </div>

{% endblock %}