{% extends "odinfo-base.html" %}
{% block title %}Dominion {{ domname }}{% endblock %}

{% block content %}
  <div class="w3-container">
    <a href="{{ url_for('dominfo', domcode=domcode, update='update' ) }}">Update</a>
    <h5>ClearSight</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr class="w3-dark-grey">
            <th>Land</th>
            <th>Networth</th>
            <th>Population</th>
            <th>Timestamp</th>
        </tr>
        {% for cs in dom %}
        <tr>
            <td>
                {{ cs.land }}
            </td>
            <td>
                {{ cs.networth }}
            </td>
            <td>
                {{ cs.peasants }}
            </td>
            <td>
                {{ cs.timestamp }}
            </td>
        </tr>
        {% endfor %}
    </table><br>
  </div>

  <div class="w3-container">
    <h5>Castle Spy</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr class="w3-dark-grey">
            <th>Timestamp</th>
            <th>Science Points</th>
            <th>Science Rating</th>
            <th>Keep Points</th>
            <th>Keep Rating</th>
            <th>Spires Points</th>
            <th>Spires Rating</th>
            <th>Forges Points</th>
            <th>Forges Rating</th>
        </tr>
        {% for row in castle %}
        <tr>
            <td>
                {{ row.timestamp }}
            </td>
            <td>
                {{ row.science_points }}
            </td>
            <td>
                {{ row.science_rating }}
            </td>
            <td>
                {{ row.keep_points }}
            </td>
            <td>
                {{ row.keep_rating }}
            </td>
            <td>
                {{ row.spires_points }}
            </td>
            <td>
                {{ row.spires_rating }}
            </td>
            <td>
                {{ row.forges_points }}
            </td>
            <td>
                {{ row.forges_rating }}
            </td>
        </tr>
        {% endfor %}
    </table><br>
  </div>

  <div class="w3-container">
    <h5>Barracks Spy</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr class="w3-dark-grey">
            <th>Timestamp</th>
            <th>Draftees</th>
            <th>Unit 1 Home</th>
            <th>Unit 2 Home</th>
            <th>Unit 3 Home</th>
            <th>Unit 4 Home</th>
            <th>Training</th>
            <th>Returning</th>
        </tr>
        {% for row in barracks %}
        <tr>
            <td>
                {{ row.timestamp }}
            </td>
            <td>
                {{ row.draftees }}
            </td>
            <td>
                {{ row.home_unit1 }}
            </td>
            <td>
                {{ row.home_unit2 }}
            </td>
            <td>
                {{ row.home_unit3 }}
            </td>
            <td>
                {{ row.home_unit4 }}
            </td>
            <td>
                {{ row.training }}
            </td>
            <td>
                {{ row.return }}
            </td>
        </tr>
        {% endfor %}
    </table><br>
  </div>

  <div class="w3-container">
    <h5>Networth History</h5>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <tr class="w3-dark-grey">
            <th>Networth</th>
            <th>Timestamp</th>
        </tr>
        {% for row in nw_history %}
        <tr>
            <td>
                {{ row.networth }}
            </td>
            <td>
                {{ row.timestamp }}
            </td>
        </tr>
        {% endfor %}
    </table><br>
  </div>

{% endblock %}