{% extends "odinfo-base.html" %}
{% block extrascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
{% endblock %}

{% block content %}
  <div class="w3-container">
    <h5>Ratio Estimates</h5>
    <table id="ratios_table" class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
        <thead>
            <tr class="w3-dark-grey">
                <th>Dominion</th>
                <th>Ops Age</th>
                <th>Realm</th>
                <th>Race</th>
                <th>Networth</th>
                <th>Military Spy</th>
                <th>Military Wiz</th>
                <th>Spywiz Networth</th>
                <th>Spywiz Units</th>
                <th>Spy Ratios Estimate</th>
                <th>Wiz Ratios Estimate</th>
            </tr>
        </thead>
        {% for dom in doms %}
        <tr>
            <td>
                <a href="{{ url_for('dominfo', domcode=dom.code) }}">{{ dom.name }}</a>
            </td>
            <td  {% if 1 < ages[dom.code] <= 12 %}class="stale"{% elif ages[dom.code] > 12 %}class="invalid"{% endif %}>
                {{ ages[dom.code] }}
            </td>
            <td>{{ dom.realm }}</td>
            <td>
                {{ dom.race.name }}
            </td>
            <td>
                {{ dom.networth }}
            </td>
            <td>
                {{ dom.military.spy_units_equiv }}
            </td>
            <td>
                {{ dom.military.wiz_units_equiv }}
            </td>
            <td>
                {{ dom.military.spywiz_networth }}
            </td>
            <td>
                {{ dom.military.spywiz_units }}
            </td>
            <td>
                {{ dom.military.spy_ratio_estimate }} - {{ dom.military.max_spy_ratio_estimate }}
            </td>
            <td>
                {{ dom.military.wiz_ratio_estimate }} - {{ dom.military.max_wiz_ratio_estimate }}
            </td>
        </tr>
        {% endfor %}
    </table><br>
  </div>

<script>
    $(document).ready( function () {
        $('#ratios_table').DataTable({
            'paging': false,
            'order': [[5, 'desc']]
        });
    } );
</script>
{% endblock %}